<a href="https://colab.research.google.com/github/Nate825/CSC221_Nate825/blob/main/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Exercise 1-2 because 2 is the same as 1
pizza = ['plain', 'bufflo', 'cbr']
for pizzas in pizza:
    print(f' I like {pizzas.title()} pizza')
print('Pizza is one of my favorite foods')

 I like Plain pizza
 I like Bufflo pizza
 I like Cbr pizza
Pizza is one of my favorite foods

In [5]:
for value in range (1, 21):
  print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
for value in range(1, 1000001):
  print(value)

In [3]:
digits = list(range(1, 1000001))

print(min(digits))
print(max(digits))
print(sum(digits))

1
1000000
500000500000

In [46]:
#same exersize as 4-7 because youre just adding a value to a range function
for count in range(1, 21, 2):
  print(count)

1
3
5
7
9
11
13
15
17
19

In [1]:
#same as exersize 4-9
cubes = [value**3 for value in range(1, 11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [4]:
cubes = [value**3 for value in range(1, 11)]
print(cubes)
print('the first 3 items in the list are')
print(cubes[0:3])
print('the 3 items in the middle of the list are')
print(cubes[4:7])
print('the last 3 items in the list are')
print(cubes[7:10])

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
the first 3 items in the list are
[1, 8, 27]
the 3 items in the middle of the list are
[125, 216, 343]
the last 3 items in the list are
[512, 729, 1000]

In [11]:
#4-12 is the same as this just more redundate loops
pizza = ['plain', 'bufflo', 'cbr', 'mushroom']
for pizzas in pizza:
    print(f' I like {pizzas.title()} pizza')
print('Pizza is one of my favorite foods')
fav_pizza = ['Marg']
print('my favorite pizzas are')
for pizza in pizza:
    print(pizza)
print('my friends favorite pizzas are')
for fav_pizza in fav_pizza:
  print(fav_pizza)

 I like Plain pizza
 I like Bufflo pizza
 I like Cbr pizza
 I like Mushroom pizza
Pizza is one of my favorite foods
my favorite pizzas are
plain
bufflo
cbr
mushroom
my friends favorite pizzas are
Marg

In [21]:
buffet = ('steak', 'pasta', 'salad', 'pulled_pork', 'rice')
for buffet in buffet:
  print(buffet)
buffet = ('steak', 'pasta', 'salad', 'fish', 'ribs')
for buffet in buffet:
  print(buffet)

steak
pasta
salad
pulled_pork
rice
steak
pasta
salad
fish
ribs

In [22]:
cubes = [value ** 3 for value in range(1, 11)]
print(cubes)

print('the first 3 items in the list are:')
print(cubes[0:3])

print('The 3 items in the middle of the list are:')
print(cubes[4:7])

print('The last 3 items in the list are:')
print(cubes[7:10])

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
the first 3 items in the list are:
[1, 8, 27]
The 3 items in the middle of the list are:
[125, 216, 343]
The last 3 items in the list are:
[512, 729, 1000]

In [26]:
from re import X
def factorial(n):
  if n < 0:
    return "Factorial is not defined for negative numbers"
  elif n == 0:
    return 1
  else:
    num_list = [x for x in range(1, n + 1)]

    if 4 in num_list:
      num_list.remove(4)
    if 13 in num_list:
      num_list.remove(13)
    if 22 in num_list:
      num_list.remove(22)

    product = 1
    for x in num_list:
      product *= x
    return product
print(factorial(5))
print(factorial(10))
print(factorial(20))
print(factorial(50))

30
907200
46786577080320000
26585745805693512275885146998308364374455980392448000000000000