<a href="https://colab.research.google.com/github/Nate825/CSC221_Nate825/blob/main/Assignment_26_28.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Nate Butkus CSC 221A

In [ ]:
#int float string
int_example = 13
float_example = 12.4
string_example = 'Hello world'
print(int_example)
print(float_example)
print(string_example)

13
12.4
Hello world

In [ ]:
#f-string
name = 'Nate'
fav_color = 'blue'
print(f"{name}'s favorite color is {fav_color}")

Nate's favorite color is blue

In [ ]:
#methods of the string class
test1 = '     My Name is Nate    '
print(test1.upper())
print(test1.lower())
print(test1.strip())
print(test1.lstrip())
print(test1.rstrip())
test2 = test1.replace('Nate', 'Joe')
print(test2)

     MY NAME IS NATE
     my name is nate
My Name is Nate
My Name is Nate
     My Name is Nate
     My Name is Joe

In [ ]:
#list
brands = ['Honda', 'Kia', 'Ford', 'Suberu', 'Tesla']
print(brands[0])
brands.append('Dodge')
for brand in brands:
  print(brand)
del brands[0]
for brand in brands:
  print(brand)

Honda
Honda
Kia
Ford
Suberu
Tesla
Dodge
Kia
Ford
Suberu
Tesla
Dodge

In [ ]:
#list of lists
menu = [
    ['Pasta', 'Entree', '12.99'],
    ['Garlic Bread', 'Appitizer', '8.99'],
    ['Pizza', 'Entree', '14.99'],
    ['Pie', 'Desert', '7.99'],
    ['Salad', 'Appitizer', '10.99'],
    ['Chiken Parm', 'Entree', '13.99'],
    ['Cake', 'Desert', '7.99']
]
for dish in menu:
  print(f'Name: {dish[0]}, Course: {dish[1]}, Price: {dish[2]}')
for dish in menu:
  if dish[0] == 'Garlic Bread':
    dish[2] = '6.99'
    print(f'The garlic bread is on sale')
new_dish = ['Soup of the day', 'Appitizer', '7.99']
menu.append(new_dish)
print(f'The new menu is')
for dish in menu:
  print(f'Name: {dish[0]}, Course: {dish[1]}, Price: {dish[2]}')

Name: Pasta, Course: Entree, Price: 12.99
Name: Garlic Bread, Course: Appitizer, Price: 8.99
Name: Pizza, Course: Entree, Price: 14.99
Name: Pie, Course: Desert, Price: 7.99
Name: Salad, Course: Appitizer, Price: 10.99
Name: Chiken Parm, Course: Entree, Price: 13.99
Name: Cake, Course: Desert, Price: 7.99
The garlic bread is on sale
The new menu is
Name: Pasta, Course: Entree, Price: 12.99
Name: Garlic Bread, Course: Appitizer, Price: 6.99
Name: Pizza, Course: Entree, Price: 14.99
Name: Pie, Course: Desert, Price: 7.99
Name: Salad, Course: Appitizer, Price: 10.99
Name: Chiken Parm, Course: Entree, Price: 13.99
Name: Cake, Course: Desert, Price: 7.99
Name: Soup of the day, Course: Appitizer, Price: 7.99

In [ ]:
#print a list in sorted order
brands = ['Honda', 'Kia', 'Ford', 'Suberu', 'Tesla']
print(brands)
sorted_brands = sorted(brands)
print(brands)
print(sorted_brands)

['Honda', 'Kia', 'Ford', 'Suberu', 'Tesla']
['Honda', 'Kia', 'Ford', 'Suberu', 'Tesla']
['Ford', 'Honda', 'Kia', 'Suberu', 'Tesla']

In [ ]:
#for and range
num = [1,2,3,4,5,6]
print(num)
for num in range(7):
  print(num)

[1, 2, 3, 4, 5, 6]
0
1
2
3
4
5
6

In [ ]:
#Printing a series of squares of all numbers from 1 to 1000 that are not multiples of 7 using list comprehension.
squares = [x**2 for x in range(1,1001) if x % 7 != 0]
print(squares)

[1, 4, 9, 16, 25, 36, 64, 81, 100, 121, 144, 169, 225, 256, 289, 324, 361, 400, 484, 529, 576, 625, 676, 729, 841, 900, 961, 1024, 1089, 1156, 1296, 1369, 1444, 1521, 1600, 1681, 1849, 1936, 2025, 2116, 2209, 2304, 2500, 2601, 2704, 2809, 2916, 3025, 3249, 3364, 3481, 3600, 3721, 3844, 4096, 4225, 4356, 4489, 4624, 4761, 5041, 5184, 5329, 5476, 5625, 5776, 6084, 6241, 6400, 6561, 6724, 6889, 7225, 7396, 7569, 7744, 7921, 8100, 8464, 8649, 8836, 9025, 9216, 9409, 9801, 10000, 10201, 10404, 10609, 10816, 11236, 11449, 11664, 11881, 12100, 12321, 12769, 12996, 13225, 13456, 13689, 13924, 14400, 14641, 14884, 15129, 15376, 15625, 16129, 16384, 16641, 16900, 17161, 17424, 17956, 18225, 18496, 18769, 19044, 19321, 19881, 20164, 20449, 20736, 21025, 21316, 21904, 22201, 22500, 22801, 23104, 23409, 24025, 24336, 24649, 24964, 25281, 25600, 26244, 26569, 26896, 27225, 27556, 27889, 28561, 28900, 29241, 29584, 29929, 30276, 30976, 31329, 31684, 32041, 32400, 32761, 33489, 33856, 34225, 34596, 34969, 35344, 36100, 36481, 36864, 37249, 37636, 38025, 38809, 39204, 39601, 40000, 40401, 40804, 41616, 42025, 42436, 42849, 43264, 43681, 44521, 44944, 45369, 45796, 46225, 46656, 47524, 47961, 48400, 48841, 49284, 49729, 50625, 51076, 51529, 51984, 52441, 52900, 53824, 54289, 54756, 55225, 55696, 56169, 57121, 57600, 58081, 58564, 59049, 59536, 60516, 61009, 61504, 62001, 62500, 63001, 64009, 64516, 65025, 65536, 66049, 66564, 67600, 68121, 68644, 69169, 69696, 70225, 71289, 71824, 72361, 72900, 73441, 73984, 75076, 75625, 76176, 76729, 77284, 77841, 78961, 79524, 80089, 80656, 81225, 81796, 82944, 83521, 84100, 84681, 85264, 85849, 87025, 87616, 88209, 88804, 89401, 90000, 91204, 91809, 92416, 93025, 93636, 94249, 95481, 96100, 96721, 97344, 97969, 98596, 99856, 100489, 101124, 101761, 102400, 103041, 104329, 104976, 105625, 106276, 106929, 107584, 108900, 109561, 110224, 110889, 111556, 112225, 113569, 114244, 114921, 115600, 116281, 116964, 118336, 119025, 119716, 120409, 121104, 121801, 123201, 123904, 124609, 125316, 126025, 126736, 128164, 128881, 129600, 130321, 131044, 131769, 133225, 133956, 134689, 135424, 136161, 136900, 138384, 139129, 139876, 140625, 141376, 142129, 143641, 144400, 145161, 145924, 146689, 147456, 148996, 149769, 150544, 151321, 152100, 152881, 154449, 155236, 156025, 156816, 157609, 158404, 160000, 160801, 161604, 162409, 163216, 164025, 165649, 166464, 167281, 168100, 168921, 169744, 171396, 172225, 173056, 173889, 174724, 175561, 177241, 178084, 178929, 179776, 180625, 181476, 183184, 184041, 184900, 185761, 186624, 187489, 189225, 190096, 190969, 191844, 192721, 193600, 195364, 196249, 197136, 198025, 198916, 199809, 201601, 202500, 203401, 204304, 205209, 206116, 207936, 208849, 209764, 210681, 211600, 212521, 214369, 215296, 216225, 217156, 218089, 219024, 220900, 221841, 222784, 223729, 224676, 225625, 227529, 228484, 229441, 230400, 231361, 232324, 234256, 235225, 236196, 237169, 238144, 239121, 241081, 242064, 243049, 244036, 245025, 246016, 248004, 249001, 250000, 251001, 252004, 253009, 255025, 256036, 257049, 258064, 259081, 260100, 262144, 263169, 264196, 265225, 266256, 267289, 269361, 270400, 271441, 272484, 273529, 274576, 276676, 277729, 278784, 279841, 280900, 281961, 284089, 285156, 286225, 287296, 288369, 289444, 291600, 292681, 293764, 294849, 295936, 297025, 299209, 300304, 301401, 302500, 303601, 304704, 306916, 308025, 309136, 310249, 311364, 312481, 314721, 315844, 316969, 318096, 319225, 320356, 322624, 323761, 324900, 326041, 327184, 328329, 330625, 331776, 332929, 334084, 335241, 336400, 338724, 339889, 341056, 342225, 343396, 344569, 346921, 348100, 349281, 350464, 351649, 352836, 355216, 356409, 357604, 358801, 360000, 361201, 363609, 364816, 366025, 367236, 368449, 369664, 372100, 373321, 374544, 375769, 376996, 378225, 380689, 381924, 383161, 384400, 385641, 386884, 389376, 390625, 391876, 393129, 394384, 395641, 398161, 399424, 400689, 401956, 403225, 404496, 407044, 408321, 409600, 410881, 412164, 413449, 416025, 417316, 418609, 419904, 421201, 422500, 425104, 426409, 427716, 429025, 430336, 431649, 434281, 435600, 436921, 438244, 439569, 440896, 443556, 444889, 446224, 447561, 448900, 450241, 452929, 454276, 455625, 456976, 458329, 459684, 462400, 463761, 465124, 466489, 467856, 469225, 471969, 473344, 474721, 476100, 477481, 478864, 481636, 483025, 484416, 485809, 487204, 488601, 491401, 492804, 494209, 495616, 497025, 498436, 501264, 502681, 504100, 505521, 506944, 508369, 511225, 512656, 514089, 515524, 516961, 518400, 521284, 522729, 524176, 525625, 527076, 528529, 531441, 532900, 534361, 535824, 537289, 538756, 541696, 543169, 544644, 546121, 547600, 549081, 552049, 553536, 555025, 556516, 558009, 559504, 562500, 564001, 565504, 567009, 568516, 570025, 573049, 574564, 576081, 577600, 579121, 580644, 583696, 585225, 586756, 588289, 589824, 591361, 594441, 595984, 597529, 599076, 600625, 602176, 605284, 606841, 608400, 609961, 611524, 613089, 616225, 617796, 619369, 620944, 622521, 624100, 627264, 628849, 630436, 632025, 633616, 635209, 638401, 640000, 641601, 643204, 644809, 646416, 649636, 651249, 652864, 654481, 656100, 657721, 660969, 662596, 664225, 665856, 667489, 669124, 672400, 674041, 675684, 677329, 678976, 680625, 683929, 685584, 687241, 688900, 690561, 692224, 695556, 697225, 698896, 700569, 702244, 703921, 707281, 708964, 710649, 712336, 714025, 715716, 719104, 720801, 722500, 724201, 725904, 727609, 731025, 732736, 734449, 736164, 737881, 739600, 743044, 744769, 746496, 748225, 749956, 751689, 755161, 756900, 758641, 760384, 762129, 763876, 767376, 769129, 770884, 772641, 774400, 776161, 779689, 781456, 783225, 784996, 786769, 788544, 792100, 793881, 795664, 797449, 799236, 801025, 804609, 806404, 808201, 810000, 811801, 813604, 817216, 819025, 820836, 822649, 824464, 826281, 829921, 831744, 833569, 835396, 837225, 839056, 842724, 844561, 846400, 848241, 850084, 851929, 855625, 857476, 859329, 861184, 863041, 864900, 868624, 870489, 872356, 874225, 876096, 877969, 881721, 883600, 885481, 887364, 889249, 891136, 894916, 896809, 898704, 900601, 902500, 904401, 908209, 910116, 912025, 913936, 915849, 917764, 921600, 923521, 925444, 927369, 929296, 931225, 935089, 937024, 938961, 940900, 942841, 944784, 948676, 950625, 952576, 954529, 956484, 958441, 962361, 964324, 966289, 968256, 970225, 972196, 976144, 978121, 980100, 982081, 984064, 986049, 990025, 992016, 994009, 996004, 998001, 1000000]

In [ ]:
#Generating all of the prime numbers from 2 to 1000 using the Sieve of Eratosthenes which I suggest you ask ChatGPT for help on
def Sieve_of_Eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    for num in range(2, int(limit**0.5) + 1):
      if is_prime[num]:
        primes.append(num)
        for multiple in range(num * num, limit + 1, num):
          is_prime[multiple] = False

    for num in range(max(2, int(limit**0.5) + 1), limit + 1):
      if is_prime[num]:
        primes.append(num)
    return primes

primes_1000 = Sieve_of_Eratosthenes(1000)
print(primes_1000)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [ ]:
#Create a generator from your function above that you can use to print the first N prime numbers.

def sieve_of_eratosthenes(limit):
  primes = []
  is_prime = [True] * (limit + 1)

  for num in range(2, int(limit**0.5) + 1):
    if is_prime[num]:
      primes.append(num)
      is_prime[num*num:limit+1:num] = [False] * len(range(num*num, limit+1, num))

  for num in range(max(2, int(limit**0.5) + 1), limit + 1):
    if is_prime[num]:
      primes.append(num)

  return primes

def my_prime_generator(N):
  primes = sieve = sieve_of_eratosthenes(N**2)
  return primes[:N]
for x in my_prime_generator(46):
  print(x)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

In [ ]:
#Generate 1000 random integers in a list (random.randint(...)) and print their min, max, sum, and average.

import random

random_int = [random.randint(1, 100) for _ in range(1000)]
print(f'Min = {min(random_int)}')
print(f'Max = {max(random_int)}')
print(f'Sum = {sum(random_int)}')
print(f'Average = {sum(random_int) / len(random_int): .2f}')

Min = 1
Max = 100
Sum = 49709
Average =  49.71

In [ ]:
#Write a simple function that uses if, elif, and else and show that it works
#Simple code that asks the user for a number and returns wether it is positive negative or Zero
def check_num(num):
  if num > 0:
    return "Positive"
  elif num < 0:
    return "Negative"
  else:
    return "Zero"
test_num = int(input('Enter a Number: '))
results = check_num(test_num)
print(f'The number is {results}')

Enter a Number: 10
The number is Positive

In [ ]:
#Show me three things from PEP-8 that surprise you

'''
1. The first thing that surprised me about the PEP-8 guidlines is how they adress
the use of comments and how it discourages the use of inline comments
2. The second thing that surprised me about the PEP-8 guidlines is how it tells
you to format Imports which should be grouped in the order Standard library imports,
Related third-party imports, and local application/library specific imports
3. Lastly how PEP-8 talks about the use of Indentation which recommends using
4 spaces per indentation level while most languages use 2
'''

In [ ]:
#Create a file using %%file testfile.txt in Colab. The file should contain lines like the following
%%writefile testfile.txt
Amy, cat
Fred, dog
Hunter, dog
Peena, parakeet
Rover, dog

Writing testfile.txt

In [ ]:
#Read that file in and convert it to a dictionary. Show how you can lookup pet type by using pet name with your dictionary

pet_dict = {}
with open('testfile.txt', 'r') as file:
  for line in file:
    name, pet_type = line.strip().split(', ')
    pet_dict[name] = pet_type
print('Pet Names:', list(pet_dict.keys()))

search_pet = input('Enter a pets name to search which pet type it is:')
pet_type = pet_dict.get(search_pet, 'Not Found')
print(f'{search_pet} is {pet_type}')

Pet Names: ['Amy', 'Fred', 'Hunter', 'Peena', 'Rover']
Enter a pets name to search which pet type it is:Fred
Fred is dog

In [ ]:
#Generate a list of all the unique pet types in the dictionary. Use a set to make this happen

pet_dict = {}
with open('testfile.txt', 'r') as file:
  for line in file:
    name, pet_type = line.strip().split(', ')
    pet_dict[name.lower()] = pet_type.lower()
unique = set(pet_dict.values())
print('Unique pet types are:', list(unique))

Unique pet types are: ['cat', 'parakeet', 'dog']

In [ ]:
#Use a while loop to print the numbers from 80 down to 16 by 8. Do not use for or range
num = 80
while num >= 16:
  print(num)
  num -= 8

80
72
64
56
48
40
32
24
16

In [ ]:
#Write a function that takes three numbers and returns their min, max, and sum as a tuple

def min_max_sum(num1, num2, num3):
  return min(num1, num2, num3), max(num1, num2, num3), num1 + num2 + num3
result = min_max_sum(6, 25, -4)
print(f'The min is: {result[0]}\nThe max is: {result[1]}\nThe sum is: {result[2]}')

The min is: -4
The max is: 25
The sum is: 27

In [ ]:
#Write a function that takes any number of numbers and returns their min, max, and sum as a tuple
def min_max_sum(*args):
  return min(args), max(args), sum(args)
result = min_max_sum(89, 25, -4, 190, 0)
print(result)

(-4, 190, 300)

In [ ]:
#Create a decorator called traceroo and use it to print messages showing how your function above executes

def traceroo(func):
  def wrapper(*args, **kwargs):
    print(f'{func.__name__} with {args}')
    result = func(*args, **kwargs)
    print(f'{func.__name__} result: {result}')
    return result
  return wrapper

def min_max_sum(*args):
  return min(args), max(args), sum(args)

result = min_max_sum(89, 25, -4, 24, 0)
result

(-4, 89, 134)

In [ ]:
#Create a class that uses __init__, __repr__, __str__, and __add__. Demonstrate that all of the methods work

class Car:
  def __init__(self, make, model, year):
    self.make = make
    self.year = year
    self.model = model

  def __repr__(self):
    return f"Car('{self.make}', '{self.model}', {self.year})"

  def __str__(self):
    return f'{self.year} {self.make} {self.model}'

  def __add__(self, other):
    if isinstance(other, Car):
      return Car(f'{self.make} and {other.make}', f'{self.model} {other.model}', max(self.year, other.year))
    else:
      raise TypeError('Error')
car1 = Car('Toyota', 'Camry', 2012)
car2 = Car('Honda', 'Civic', 2022)
print('Car1',repr(car1))
print('String of car1',str(car1))
result = car1 + car2
print('Car1 and Car2',repr(result))

Car1 Car('Toyota', 'Camry', 2012)
String of car1 2012 Toyota Camry
Car1 and Car2 Car('Toyota and Honda', 'Camry Civic', 2022)

In [93]:
#Is your birth date included in the digits of pi? Where? Feel free to use the code from Chapter 10

from mpmath import mp

def generate_pi_digits(digits):
  mp.dps = digits
  pi_string = str(mp.pi).replace('.', '')
  return pi_string

def check_birthday():

  pi_string = generate_pi_digits(1000000)
  birthday = input('Enter your birthday, in the form mmddyy: ')
  if birthday in pi_string:
    print("Your birthday appears in the first million digits of pi!")
  else:
    print("Your birthday does not appear in the first million digits of pi.")
check_birthday()

Enter your birthday, in the form mmddyy: 031499
Your birthday appears in the first million digits of pi!

In [131]:
%%file final_functions.py

def min_max_sum(num1, num2, num3):
  return min(num1, num2, num3), max(num1, num2, num3), num1 + num2 + num3

def min_max_sum_args(*args):
  return min(args), max(args), sum(args), sum(args) #The bug will make it fail the test because it is returning the sum twice

def check_num(num):
  if num > 0:
    return "Positive"
  elif num < 0:
    return "Negative"
  else:
    return "Zero"

Overwriting final_functions.py

In [126]:
!python final_functions.py

In [128]:
%%file final.py

from final_functions import min_max_sum, min_max_sum_args, check_num

#Exersizing the min_max_sum function
result = min_max_sum(6, 25, -4)
print(f'The min is: {result[0]}\nThe max is: {result[1]}\nThe sum is: {result[2]}')
#Exersizing the min_max_sum_args function
result_args = min_max_sum_args(6, 25, -4, 0, 0)
print(f'The min max and sum as a tuple {result_varargs}')
#Exersizing the check_num function
test_num = int(input('Enter a Number: '))
results = check_num(test_num)
print(f'The number is {results}')

Overwriting final.py

In [124]:
!python final.py

The min is: -4
The max is: 25
The sum is: 27
The min max and sum as a tuple (-4, 25, 27)
Enter a Number: 20
The number is Positive

In [129]:
%%file test_final.py

from final_functions import min_max_sum, min_max_sum_args, check_num

def test_min_max_sum():
  result = min_max_sum(6, 25, -4)
  assert result == (-4, 25, 27)

def test_check_num():
  assert check_num(5) == 'Positive'
  assert check_num(-5) == 'Negative'
  assert check_num(0) == 'Zero'

def test_min_max_sum_args():
  result = min_max_sum_args(6, 25, -4, 0, 0)
  assert result == (-4, 25, 27)

Overwriting test_final.py

In [132]:
!pytest -s test_final.py

======================================= test session starts ========================================
platform linux -- Python 3.10.12, pytest-7.4.3, pluggy-1.3.0
rootdir: /content
plugins: anyio-3.7.1
collected 3 items

test_final.py ..F

============================================= FAILURES =============================================
______________________________________ test_min_max_sum_args _______________________________________

    def test_min_max_sum_args():
      result = min_max_sum_args(6, 25, -4, 0, 0)
>     assert result == (-4, 25, 27)
E     assert (-4, 25, 27, 27) == (-4, 25, 27)
E       Left contains one more item: 27
E       Use -v to get more diff

test_final.py:15: AssertionError
===================================== short test summary info ======================================
FAILED test_final.py::test_min_max_sum_args - assert (-4, 25, 27, 27) == (-4, 25, 27)
=================================== 1 failed, 2 passed in 0.13s ====================================