<a href="https://colab.research.google.com/github/Nate825/CSC221_Nate825/blob/main/Assignment_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#1.1
print('Hello World') #printing a basic message

Hello World

In [3]:
50000 + 200003 # basic math to show the use of calculation

250003

In [5]:
#1.2
#!/usr/bin/env python3         the comment is ignored
print('hello world')

hello world

In [ ]:
#1.3
# this is a simple example that shows how a while loop can be used to calculate simple intrest


principal = 1000
rate = 0.05
num_years = 5

for year in range(1, num_years + 1):
    principal *= (1 + rate)
    print(f'{year} {principal:.2f}')

In [ ]:
#1.4
x = 7
y = 4

#using arithmetic operators
addition_result = x + y
subtraction_result = x - y
multiplication_result = x * y
division_result = x / y
truncating_division_result = x // y
modulo_result = x % y
power_result = x ** y

# Using Built-in Functions
absolute_value = abs(-10)
divmod_result = divmod(13, 5)
power_with_modulo_result = pow(3, 4, 2)
rounded_value = round(15.678, 2)

In [ ]:
#using bit manipulation
a = 0b11001001
mask = 0b11110000
shifted_result = (a & mask) >> 4

#using comparison operators
value1 = 10
value2 = 20

equal_result = value1 == value2
not_equal_result = value1 != value2
etc...

In [ ]:
#1.5
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in numbers:
  if num % 2 == 0:
    print(f"{num} is even")
  else:
    print(f'{num} is odd')

In [ ]:
#basic use of continue and break
x = 0
while x < 10:
  x += 1
  if x == 5:
    print('skip')
    continue
  if x == 8:
    print('break')
    break
print(x)

In [ ]:
#1.6
message = 'Hello'
website_link = 'http://www.python3.org'

full_message = message + f'Search {website_link}'

message2 = message.upper()
substring = message[7:13]

In [4]:
#1.7
#demonstrating file input and output
with open('Nate.txt', 'w') as file:
    file.write('Nate\n')
    file.write('j\n')
    file.write('Butkus\n')
with open('Nate.txt') as file:
    for name in file:
      print(name.strip())

Nate
j
Butkus

In [7]:
#1.8
#example use of lists
num = [1, 2, 3, 4, 5, 6]
print(num)
num.append(7)
for nums in num:
  print(num)
extracted_num = num[2:5]
print(extracted_num)
test = num[2]
num[2] = 6
test1 = num[-1]
total_sum = sum(num)
print(num)
print(total_sum)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[3, 4, 5]
[1, 2, 6, 4, 5, 6, 7]
31

In [12]:
#1.9
point1 = (7,3)
point2 = (1,2)

x_1, y_1 = point1
x_2, y_2 = point2

print('Coordinates')
print('point1=', point1)
print('point2=', point2)
distance = ((x_2 - x_1)**2 + (y_2 - y_1)**2)**.5
print('The distance between the two points', distance)

Coordinates
point1= (7, 3)
point2= (1, 2)
The distance between the two points 6.082762530298219

In [14]:
#1.10
class1 = {'Nate', 'Brain', 'John', 'Frankie'}
class2 = {'Nate', 'Spencer', 'Mike', 'Joey'}
print('Initial Attendance')
print('Class 1', class1)
print('Class 2', class2)
common_attendees = class1.intersection(class2)
print(common_attendees)
all_attendees = class1.union(class2)
print(all_attendees)
class1.add('Brain')
print(class1)
class2.discard('Mike')
print(class2)

Initial Attendance
Class 1 {'Brain', 'Nate', 'Frankie', 'John'}
Class 2 {'Mike', 'Nate', 'Joey', 'Spencer'}
{'Nate'}
{'Mike', 'John', 'Brain', 'Nate', 'Joey', 'Spencer', 'Frankie'}
{'Brain', 'Nate', 'Frankie', 'John'}
{'Nate', 'Joey', 'Spencer'}

In [17]:
#1.11
contacts_data = [
    ('Nate', 'Nateb@gmail.com', '123-456-7890'),
    ('John', 'Johna@gmail.com', '9876543210'),
    ('Max', 'MaxM@gmail.com', '6437243689'),
]
contacts = {name: {'email': email, 'phone': phone}for name, email, phone in contacts_data}
print('Contact info')
for name, info in contacts.items():
  print(f"{name}: Email - {info['email']}), Phone - {info['phone']}")
new_contact = ('Joe', 'Joem@gmail.com', '7648356487')
contacts['Joe'] = {'email' : new_contact[1], 'phone': new_contact[2]}
for name, info in contacts.items():
  print(f"{name}: email: {info['email']}, phone: {info['phone']}")

Contact info
Nate: Email - Nateb@gmail.com), Phone - 123-456-7890
John: Email - Johna@gmail.com), Phone - 9876543210
Max: Email - MaxM@gmail.com), Phone - 6437243689
Nate: email: Nateb@gmail.com, phone: 123-456-7890
John: email: Johna@gmail.com, phone: 9876543210
Max: email: MaxM@gmail.com, phone: 6437243689
Joe: email: Joem@gmail.com, phone: 7648356487

In [19]:
#1.12
def check_even_odd(number):
  if number % 2 == 0:
    result = 'Even'
  else:
    result = 'Odd'
  return result

num1 = 2
num2 = 3

result1 = check_even_odd(num1)
result2 = check_even_odd(num2)
print(f'{num1} is {result1}')
print(f'{num2} is {result2}')

2 is Even
3 is Odd

In [20]:
#1.13
def check_even_odd(number: int) -> tuple:
  if number % 2 == 0:
    result = 'even'
    message = f'the number {number} is even'
  else:
    result = 'odd'
    message = f'the number {number} is odd'
  return result, message
int_number = 2
parity_result, parity_message = check_even_odd(int_number)
print(f' Result: {parity_result}, Message: {parity_message}')

 Result: even, Message: the number 2 is even

In [25]:
#1.14
def get_real_number():
  while True:
    user_input = input('Enter a number')
    try:
      number = float(user_input)
      print(f'{number} is a real number')
      return number
    except ValueError:
      print(f'{number} is not a real number')
result = get_real_number()
print(f'{result}')

Enter a number2
2.0 is a real number
2.0

In [28]:
#1.15
import atexit
import time

start_time = time.time()
def runtime():
  end_time = time.time()
  runtime = end_time - start_time
  print(f'You ran the program for {runtime:.2f} seconds')
atexit.register(runtime)

In [47]:
#1.16
class Stack:
  def __init__(self):
    self.items = []

  def push(self, item):
    self.items.append(item)

  def pop(self):
    if self.items:
      return self.items.pop()
    else:
      return None
  def __repr__(self):
    return f'<{type(self).__name__} at 0x{id(self):x}, size={len(self)}>'
  def __len__(self):
    return len(self.items)
class MyStack(Stack):
  def swap(self):
    if len(self) >= 2:
      a = self.pop()
      b = self.pop()
      self.push(a)
      self.push(b)
      print('Swapped the top 2 items')
    else:
      print('Not enough items to swap')

class NumericStackck(Stack):
  def push(self, item):
    if isinstance(item, (int, float)):
      super().push(item)
    else:
      print('can only push number values')
ms = MyStack()
ms.push('Nate')
ms.push(20)
print(ms.pop())

s = Stack()
s.push('John')
s.push(10)
s.push(20)

ms_swap = MyStack()
ms_swap.items = s.items
ms_swap.swap()
print(ms_swap.pop())

20
Swapped the top 2 items
10